@font-face {
  font-family: "iconfont"; /* Project id 3133399 */
  src: url('iconfont.woff2?t=1643551304400') format('woff2'),
       url('iconfont.woff?t=1643551304400') format('woff'),
       url('iconfont.ttf?t=1643551304400') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geishuiguandao:before {
  content: "\e601";font-size: 100rpx;
}

.icon-ziyuan:before {
  content: "\e61a";font-size: 100rpx;
}

.icon-beng:before {
  content: "\e620";font-size: 100rpx;
}

.icon-bengzhan:before {
  content: "\e62e";font-size: 100rpx;
}

.icon-jiexicanshu:before {
  content: "\e60c";
  font-size: 100rpx;
}

.icon-daochushuju:before {
  content: "\e660";font-size: 100rpx;
}

.icon-jisuanqi:before {
  content: "\e627";font-size: 100rpx;
}

.icon-yucepinggu:before {
  content: "\e60e";font-size: 100rpx;
}

.icon-sanwei:before {
  content: "\e625";font-size: 100rpx;
}

.icon-qianshuibeng-copy:before {
  content: "\e600";font-size: 100rpx;
}

.icon-xiaofangbengfang:before {
  content: "\e614";font-size: 100rpx;
}

.icon-bengzhan1:before {
  content: "\e61f";font-size: 100rpx;
}

.icon-a-Buy_shoppingcart_selected:before {
  content: "\e626";font-size: 100rpx;
}

.icon-jiance-fuzaizhendong:before {
  content: "\e60f";
  font-size: 100rpx;
  color:rgba(185, 60, 60, 0.74);
}

.icon-hot:before {
  content: "\e661";
  font-size: 100rpx;
}

