@font-face {
  font-family: 'iconfont';  /* Project id 3133399 */
  src: url('//at.alicdn.com/t/font_3133399_jvo8d2nlnx.woff2?t=1652957999046') format('woff2'),
       url('//at.alicdn.com/t/font_3133399_jvo8d2nlnx.woff?t=1652957999046') format('woff'),
       url('//at.alicdn.com/t/font_3133399_jvo8d2nlnx.ttf?t=1652957999046') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color:rgba(107, 200, 243, 0.747)
}


.icon-threed:before {
	content: "\e677";
	font-size: 120rpx;
	color: #1397ff;
}

.icon-geishuiguandao:before {
	content: "\e601";
	font-size: 100rpx;
}

.icon-ziyuan:before {
	content: "\e61a";
	font-size: 100rpx;
}

.icon-beng:before {
	content: "\e620";
	font-size: 100rpx;
}

.icon-bengzhan:before {
	content: "\e62e";
	font-size: 100rpx;
}

.icon-jiexicanshu:before {
	content: "\e60c";
	font-size: 110rpx;
	color: rgba(107, 200, 243, 0.747);
}

.icon-daochushuju:before {
	content: "\e660";
	font-size: 100rpx;

}

.icon-jisuanqi:before {
	content: "\e627";
	font-size: 100rpx;
	color: rgba(107, 200, 243, 0.747);
}

.icon-yucepinggu:before {
	content: "\e60e";
	font-size: 100rpx;

}

.icon-sanwei:before {
	content: "\e625";
	font-size: 100rpx;
}

.icon-qianshuibeng-copy:before {
	content: "\e600";
	font-size: 100rpx;

}

.icon-xiaofangbengfang:before {
	content: "\e614";
	font-size: 110rpx;
	color: rgba(253, 146, 164, 0.781);
}

.icon-bengzhan1:before {
	content: "\e61f";
	font-size: 110rpx;
	color: rgba(61, 155, 17, 0.712);
}

.icon-a-Buy_shoppingcart_selected:before {
	content: "\e626";
	font-size: 100rpx;
}

.icon-jiance-fuzaizhendong:before {
	content: "\e60f";
	font-size: 110rpx;
	color: rgba(185, 60, 60, 0.74);
}

.icon-hot:before {
	content: "\e661";
	font-size: 70rpx;
	color: rgba(255, 0, 16, 0.7);
}
/* maker */
.icon-maker-02:before {
	
	content: "\e9d3";

	font-size:42rpx;
	color: #007AFF;
	padding: 10rpx;
}

.tatol:before {
	
	content: "\e7af";

	font-size:78rpx;
	color: #fd91f8;
	padding: 10rpx;
}

